.gridlines line {
    stroke: #bbb;
  }

  .gridlines .domain {
    stroke: none;
  }

.axis .domain {
  display: none;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#headline {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}


